@page
@model XevosWebApp.Pages.People.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Přehled lidí</h1>

<form asp-page="./Index" method="get" class="mt-5">
	<div class="row">
		<div class="col-6">
			<input type="text" name="searchString" value="@Model.CurrentFilter" />
			<input type="submit" value="Search" class="btn btn-primary" />
			<a asp-page="./Index" class="btn btn-secondary">Back to full List</a>
		</div>
		<div class="col-6 text-end">
			<a asp-page-handler="Data" class="btn btn-primary">Get up to date data</a>
		</div>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">@Html.DisplayNameFor(model => model.Person[0].Jmeno)</a>
			</th>
			<th>
				<a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">@Html.DisplayNameFor(model => model.Person[0].Prijmeni)</a>
			</th>
			<th>
				<a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">@Html.DisplayNameFor(model => model.Person[0].Date)</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Person)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Jmeno)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Prijmeni)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
